body { background-color: blue; }

.container { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

button { display: inline-block; background-color: lightblue; padding: 5px; cursor: pointer; }

p { padding: 15px; color: white; }
